* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  /* width: 90%; */
  /* background-color: green; */
  /* margin: auto; */
}

.container {
  width: 100%;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(224, 216, 216); */
  font-size: 22px;
  color: black;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(48, 216, 62); */
  width: 50%;
  padding: 8px;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  /* background-color: red; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(63, 63, 63);
}

.logo {
  width: 20%;
  /* background-color: red; */
  font-size: 28px;
  /* font-weight: 600; */
  cursor: pointer;
}

input {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 20px;
}





/* .search{
  width: 400px;
  background-color: red;
} */

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  margin-bottom: 20px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: rgb(14, 82, 73);
  /* background-color: red; */
  width: 100%;
  /* height: auto; */
}
.introduction {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 70%;
  /* background-color: green; */
  /* margin-bottom: 40px; */
}

.image {
  width: 30%;
  height: 100%;
  /* background-image: url("image/udom.jpg");
  background-size: contain;
  background-repeat: no-repeat; */

}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 400px;
  /* min-width: 400px; */
}

.intro-text {
  width: 70%;
  /* margin: 40px; */
  padding: 40px;
  /* background-color: red; */
}
button{
  position:fixed;
  bottom:20px;
  right:20px;
  background-color: white;
  color:rgb(14, 82, 73);
  font-weight: 500;
  font-size:medium;
  border:none;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  margin:auto;
}
.contact {
  display: flex;
  justify-content: space-between;
  /* margin-top: 40px; */
  background-color: rgb(14, 82, 73);
  /* background-color: red; */
  width: 80%;
  margin: auto;
  /* margin-top: 100px; */
  /* margin-bottom: 20px; */
}

.contact-item {
  display: flex;
  align-items: center;
  /* background-color: #af4646; */
}

.icon-border {
  padding: 6px;
  background-color: white;
  border: none;
  border-radius: 4px;
  margin-right: 10px;

}

i {
  font-size: 28px;
  color: rgb(14, 82, 73);
}

.experience-skill {
  /* width: 100%; */
  display: flex;
  /* justify-content: space-around; */
  margin-top: 20px;
  gap: 20px;
}

.experience {
  width: 50%;
  /* margin: 40px; */
  padding: 40px;
  border: 1px solid black;
  border-radius: 20px;

  /* background-color: red; */

}

.experience h1,
.experience p {
  color: black;
  font-weight: 500;
}

.experience img {
  width: 50%;
}

.skill-content {
  background-color: rgb(14, 82, 73);
  width: 50%;
  /* margin: 40px; */
  padding: 40px;
  border-radius: 20px;
  /* background-color: green; */
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 70%;
  /* background-color: red; */
}

.project-container {
  width: 100%;
  /* color: black; */
  /* background-color: red; */
  /* padding:40px; */

}

.project-container h1 {
  color: black;
  font-weight: 500;
  padding: 0 40px;
}

.project-content{
  display: flex;
  align-items: center;
}
.project-content-left{
  background-color: rgb(14, 82, 73);
  color: white;
  width: 30%;
}
.project-content-right{
  background-color: white;
  color:rgb(14, 82, 73);
  width: 70%;
  border-radius: 20px;
  padding-left: 20px;

}
.project-content-right p{
  color:rgb(14, 82, 73);
}
.project-content-right p:first-child{
  /* color:black; */
  font-weight: bold;
  text-align: center;
}
.project-content-javascript-left a{
  font-weight: 500;
}
.project-content-javascript-left{
  /* background-color: rgb(14, 82, 73); */
  color: black;
  width: 30%;
}
.project-content-javascript-right{
  background-color: rgb(14, 82, 73);
  /* color:rgb(14, 82, 73); */
  width: 70%;
  border-radius: 20px;
  padding-left: 20px;

}
.project-content-javascript-right p:first-child{
  /* color:black; */
  font-weight: bold;
  text-align: center;
}
/* .project-content-javascript-right p{
  color:black;
} */
.project {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;

}

.project-left {

  width: 50%;
  background-color: rgb(14, 82, 73);
  /* background-color: red; */
  color: white;
  border-radius: 20px;
  padding: 40px;
  border: none;
}

.project-left h2 {
  color: white;
  font-weight: 500;
}

.project-item-left a {
  color: white;
}

.project-item-right a {
  color: black;
}

.project-right {
  width: 50%;
  /* margin: 40px; */
  padding: 40px;
  color: black;

  border-radius: 20px;
  /* background-color: red; */
}

.project-right h2 {
  color: black;
  font-weight: 500;
}

.list-project {
  cursor: pointer;
}

.project-right {
  width: 50%;
  border: 1px solid black;
  /* background-color: red; */
  /* margin: 40px; */
  /* padding:40px; */

}

.project-react {
  /* display: flex; */
  text-align: center;
  /* align-items: center; */
  margin-top: 40px;
  /* padding: 0 40px; */
  color: rgb(14, 82, 73);
  border: 1px solid rgb(14, 82, 73);
  border-radius: 20px;
  /* background-color: red; */
  padding: 20px;

}

.project-react h1 {
  color: rgb(14, 82, 73);
}

.project-react a {
  color: rgb(14, 82, 73);
  display: block;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  width: 100%;
}

@media (max-width: 768px) {

  ul li {
    display: none;
  } 


 

  .contact,
  .home-content,
  .experience-skill,
  .project,
  .skill {
    display: block;
  }

  .image{
    width: 100%;
    /* object-fit: contain; */
  }


  
  .experience,
  .skill-content,
  .project-left,
  .project-right,
  .contact {
    width: 80%;
    margin: auto;
    /* background-color: green; */
  }

  .skill-content,
  .experience,
  .project-left,
  .project-right {
    margin-top: 20px;
  }

}


@media (max-width: 900px) {
  .search {
    display: none;
  }

}